fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
requests
python-dotenv
alembic
openai
numpy
pandas
Pillow

